<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color="primary" menu="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Ivan Soto</h2>
          <p>Matemática</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="https://i.pravatar.cc/300?u=e"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Beatriz Jimenez</h2>
          <p>Lenguaje</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="https://i.pravatar.cc/300?u=d"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Diego Urrutia</h2>
          <p>Filosofía</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="https://i.pravatar.cc/300?u=a"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Pedro Tapia</h2>
          <p>Física</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="https://i.pravatar.cc/300?u=z"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>Juan Cuevas</h2>
          <p>Historia</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  
</ion-content>

